<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card header="Login" [style]="{ width: '360px' }">
    <div class="field">
      <label for="userName">User Name</label>
      <input type="text" pInputText
        formControlName="userName" class="w-full"
        name="userName" placeholder="Type your user Name"
      />

      <small *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)" class="block p-error">
        <div *ngIf="loginForm.get('userName')?.errors?.['required']">User Name is required.</div>
      </small>
      
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="block p-error">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
      </small>

    </div>
    <p-button
      label="SIGN IN"
      styleClass="w-full"
      [disabled]="loginForm.valid == false"
      type="submit"
    ></p-button>
    <div class="mt-2">Not a member? <a routerLink="/register">Register</a></div>
  </p-card>
</form>
