<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="Register" [style]="{ width: '360px' }">
    <div class="field">
      <label for="UserName">User Name</label>
      <input
        type="text"
        pInputText
        formControlName="UserName"
        class="w-full"
        name="UserName"
        placeholder="Type your user name"
      />
      <small *ngIf="registerForm.get('UserName')?.invalid && (registerForm.get('UserName')?.dirty || registerForm.get('UserName')?.touched)" class="block p-error">
        <div *ngIf="registerForm.get('UserName')?.errors?.['required']">User name is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="Password">Password</label>
      <input
        type="Password"
        pInputText
        formControlName="Password"
        class="w-full"
        name="Password"
        placeholder="Type your password"
      />
      <small *ngIf="registerForm.get('Password')?.invalid && (registerForm.get('Password')?.dirty || registerForm.get('Password')?.touched)" class="block p-error">
        <div *ngIf="registerForm.get('Password')?.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="ConfirmPassword">Confirm Password</label>
      <input
        type="Password"
        pInputText
        formControlName="ConfirmPassword"
        class="w-full"
        name="ConfirmPassword"
        placeholder="Confirm Password"
      />
      <small *ngIf="registerForm.get('ConfirmPassword')?.invalid && (registerForm.get('ConfirmPassword')?.dirty || registerForm.get('ConfirmPassword')?.touched)" class="block p-error">
        <div *ngIf="registerForm.get('ConfirmPassword')?.errors?.['required']">Confirm the password</div>
      </small>
      <small *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('Password')?.valid && registerForm.get('ConfirmPassword')?.valid" class="block p-error">
        <div >Passwords should match</div>
      </small>      
    </div>
    <div class="field">
      <label for="Name">Full Name</label>
      <input
        type="text"
        pInputText
        [formControl]="getFormControl('UserDetails.Name')"
        class="w-full"
        name="Name"
        placeholder="Type your name"
      />
      <small
        *ngIf="getFormControl('UserDetails.Name')?.invalid && (getFormControl('UserDetails.Name')?.dirty || getFormControl('UserDetails.Name')?.touched)"
        class="block p-error"
      >
        <div *ngIf="getFormControl('UserDetails.Name')?.errors?.['required']">Name is required.</div>
        <div *ngIf="getFormControl('UserDetails.Name')?.errors?.['pattern']">Enter a valid Name</div>
      </small>
    </div>   
    <div class="field">
      <label for="PhoneNumber">Phone Number</label>
      <input
        type="text"
        pInputText
        [formControl]="getFormControl('UserDetails.PhoneNumber')"
        class="w-full"
        name="PhoneNumber"
        placeholder="Type your phone number"
      />
      <small *ngIf="registerForm.get('PhoneNumber')?.invalid && (registerForm.get('PhoneNumber')?.dirty || registerForm.get('PhoneNumber')?.touched)" class="block p-error">
        <div *ngIf="registerForm.get('PhoneNumber')?.errors?.['required']">Invalid Phone number "max length is 10 numbers"</div>
      </small>
    </div>
    <div class="field">
      <label for="Email">Email</label>
      <input
        type="text"
        pInputText
        [formControl]="getFormControl('UserDetails.Email')"
        class="w-full"
        name="Email"
        placeholder="Type your email"
      />
      <small
        *ngIf="getFormControl('UserDetails.Email')?.invalid && (getFormControl('UserDetails.Email')?.dirty || getFormControl('UserDetails.Email')?.touched)"
        class="block p-error"
      >
        <div *ngIf="getFormControl('UserDetails.Email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="getFormControl('UserDetails.Email')?.errors?.['email']">Email should be valid</div>
      </small>
    </div>    
    <div class="field">
      <label for="DateOfBirth">Date Of Birth</label>
      <input
        type="date"
        pInputText
        [formControl]="getFormControl('UserDetails.DateOfBirth')"
        class="w-full"
        name="DateOfBirth"
        placeholder="Insert your date of birth"
      />
      <small
        *ngIf="getFormControl('UserDetails.DateOfBirth')?.invalid && (getFormControl('UserDetails.DateOfBirth')?.dirty || getFormControl('UserDetails.DateOfBirth')?.touched)"
        class="block p-error"
      >
        <div *ngIf="getFormControl('UserDetails.DateOfBirth')?.errors?.['required']">Date of birth is required.</div>
      </small>
    </div>
    
    <p-button
      label="Register"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
  </p-card>
</form>